# Fichiers Node.js
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Fichiers Truffle
.ethereum/
truffle-config.js
truffle.js
build/

# Fichiers Tezos
.tezos/
*.tz
*.json
completium.json
completium.out/
out/

# Environnement
.env
.env.local
.env.development
.env.production
.env.test
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Dépendances
*.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# Compilés Solidity
*.sol.json

# Artifacts
artifacts/
cache/

# IDE / OS
.vscode/
.idea/
*.swp
Thumbs.db
